In [20]:
import pandas as pd

In [26]:
datos = pd.read_csv('Spring.csv')
datos

    ID  Edad  # De hermanos
0    1    20              1
1    2    20              3
2    3    19              1
3    4    21              2
4    5    20              1
5    6    20              2
6    7    20              2
7    8    20              3
8    9    36              2
9   10    20              2
10  11    21              4
11  12    23              0
12  13    23              1
13  14    21              4
14  15    20              1
15  16    21              0
16  17    21              3
17  18    18              1
18  19    25              1
19  20    21              2
20  21    22              2

In [27]:
def ordenar(columna, orden):
    
    ordenados = datos.sort_values(columna, ascending=False)

    if orden == "ascendente":
        ordenados = datos.sort_values(columna, ascending=True)
        
    return ordenados

In [30]:
# Ejemplo de uso
ordenados = ordenar("Edad", "ascendente")
print(ordenados.to_string())

    ID  Edad  # De hermanos
17  18    18              1
2    3    19              1
0    1    20              1
1    2    20              3
4    5    20              1
5    6    20              2
6    7    20              2
7    8    20              3
9   10    20              2
14  15    20              1
16  17    21              3
15  16    21              0
13  14    21              4
10  11    21              4
19  20    21              2
3    4    21              2
20  21    22              2
11  12    23              0
12  13    23              1
18  19    25              1
8    9    36              2